# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local Environment Variables
.env.local
.env.*.local
!.env.example

# Operating System Files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
firebase-debug.log
firebase-debug.*.log
# IMPORTANT: Ignore service account keys
serviceAccountKey.json
*.firebase.json
*.firebaserc

# Test Results
/coverage
/.nyc_output

# tf
.terraform
*.tfstate
*.tfstate.*
# Crash Visualizer
*.stacktrace
# Bundle Analyzer
.next/analyze/*
